@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  background-image: url(../media/text-bg.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
}

header {
  background: linear-gradient(110deg, rgba(204, 81, 68, 0.95) 50%, rgba(164, 190, 205, 0.3) 80%), url(../media/headline-bg.png) no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.upper-nav {
  background-color: #272a31;
  display: none;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav-items {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(82.7, 82.7, 82.7, 0.7);
  backdrop-filter: blur(5px);
  padding-top: 105px;
  z-index: 2;
  margin: 0;
}

nav {
  top: 0;
  left: 0;
  padding: 16px 24px;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-btn i {
  font-size: 30px;
  color: #fff;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn i {
  font-size: 30px;
  color: #fff;
}

.menu-item-link {
  padding: 10px;
  color: #fff;
  font-size: 32px;
}

.menu-item {
  padding: 10px;
}

.headline {
  position: relative;
  width: 80%;
  margin: auto;
  color: #fff;
  text-align: center;
}

.headline-description {
  background-color: rgb(255, 255, 255, 0.6);
  color: #272a31;
  padding: 12px;
  font-size: 13px;
  border-radius: 8px;
  margin-top: 3em;
}

.headline-email {
  text-decoration-line: underline;
}

hr {
  margin: 0;
  width: 10%;
  border: 1px solid #ec5242;
}

.workshops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.workshops-item-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 10px 0;
  background: url('../media/bg1.jpg'), #ec5242;
  background-repeat: no-repeat;
  background-size: cover;
}

.workshops-item-1::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(236, 82, 66, 0.6);
}

.workshops-item-1:hover::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(236, 82, 66, 0);
}

.workshops-item-2 {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 10px 0;
  background: url('../media/bg2.jfif'), #ec5242;
  background-repeat: no-repeat;
  background-size: cover;
}

.workshops-item-2::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(236, 82, 66, 0.6);
}

.workshops-item-2:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(236, 82, 66, 0);
}

.workshops-year,
.workshops-place {
  position: relative;
  color: #fff;
  z-index: 1;
}

.workshops-description {
  text-align: center;
  margin: 16px 24px;
}

#partners {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.partners-list {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.partners-logo {
  margin: 6px;
  width: 6em;
  filter: grayscale(100);
}

.partners-logo:hover {
  filter: grayscale(0);
}

footer {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  nav {
    padding: 0;
  }

  .logo {
    color: #272a31;
    position: static;
    left: 30px;
    z-index: 1;
  }

  .menu {
    display: flex;
  }

  .upper-nav {
    background-color: #272a31;
    display: inline-block;
    width: 100%;
    height: 40px;
  }

  .upper-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-right: 110px;
  }

  .upper-nav-list-link {
    color: #fff;
    font-size: 12px;
  }

  .hamburger-btn {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: static;
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding-top: 0;
    padding-left: 0;
    margin-right: 60px;
  }

  .menu-item-link {
    color: #272a31;
    font-size: 12px;
    font-weight: 500;
  }

  .nav-bar {
    background-color: #fff;
  }

  h1 {
    background-image: url(../media/text-bg.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    margin: 0;
  }

  .headline {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }

  .headline-description {
    font-size: 16px;
    line-height: 1.6;
  }

  .headline-contact {
    margin: 0;
  }

  #program {
    padding: 30px 60px;
  }

  .course-item {
    display: flex;
    margin: 24px 0;
  }

  .course {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 8px;
    padding: 8px;
  }

  .course-description {
    text-align: center;
  }

  #instructors-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .instructors-card {
    width: 400px;
  }

  #partners {
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 40px;
  }

  .partners-list {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .partners-logo {
    margin: 18px;
    width: 6em;
    filter: grayscale(100);
  }

  .partners-logo:hover {
    filter: grayscale(0);
  }

  .workshops-items {
    display: flex;
    gap: 18px;
    margin: 34px;
  }
}
